
	<link rel='stylesheet' id='elementor-post-648-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-648e8ad.css?ver=1745392046' media='all' />
	
<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-648 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-648">
	
	<div data-elementor-type="wp-post" data-elementor-id="648" class="elementor elementor-648">
		<div class="elementor-element elementor-element-81a1582 e-flex e-con-boxed e-con e-parent" data-id="81a1582"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-979d2e0 elementor-widget elementor-widget-heading"
					data-id="979d2e0" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Services</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-f89c97d elementor-widget elementor-widget-text-editor"
					data-id="f89c97d" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Services</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-187a1ae e-flex e-con-boxed e-con e-parent" data-id="187a1ae"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-e7653a4 elementor-widget elementor-widget-heading"
					data-id="e7653a4" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Protective Actions</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-c082167 elementor-widget__width-initial elementor-widget elementor-widget-heading"
					data-id="c082167" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Firefighters Serving with Honor.</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-c5a7c9c elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="c5a7c9c" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
							ullamcorper mattis, pulvinar dapibus leo.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-bf8c1d7 e-con-full e-flex e-con e-child"
					data-id="bf8c1d7" data-element_type="container">
					<div class="elementor-element elementor-element-39d7fe8 e-con-full animated-fast e-flex elementor-invisible e-con e-child"
						data-id="39d7fe8" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-97cd3c2 ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
							data-id="97cd3c2" data-element_type="widget"
							data-widget_type="elementskit-image-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="ekit-image-accordion elementskit-image-accordion-wraper">
										<input type="radio" name="ekit_ia_97cd3c2" id="ekit_ia_97cd3c2_0"
											class="elementskit-single-image-accordion--input" hidden>
										<label for="ekit_ia_97cd3c2_0"
											class="elementskit-single-image-accordion ekit-image-accordion-item"
											style="background-image: url()">
											<span class="elementskit-accordion-content">
												<span class="elementskit-icon-wraper ekit-image-accordion-actions">
													<a data-elementor-open-lightbox="yes"
														data-elementor-lightbox-slideshow="97cd3c2"
														data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiI5N2NkM2MyIn0%3D"
														href="#" aria-label="pupup-button" class="icon-outline circle">
														<i aria-hidden="true" class="icon icon-plus"></i> </a>
												</span>
												<span class="elementskit-accordion-title-wraper">
													<span class="elementskit-accordion-title ">

														Fire Control
													</span>
												</span>
												<span class="elementskit-btn-wraper">
													<a
														class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
														Read More </a>
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-d8829ae e-con-full e-flex elementor-invisible e-con e-child"
						data-id="d8829ae" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-7878166 ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
							data-id="7878166" data-element_type="widget"
							data-widget_type="elementskit-image-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="ekit-image-accordion elementskit-image-accordion-wraper">
										<input type="radio" name="ekit_ia_7878166" id="ekit_ia_7878166_0"
											class="elementskit-single-image-accordion--input" checked="checked" hidden>
										<label for="ekit_ia_7878166_0"
											class="elementskit-single-image-accordion ekit-image-accordion-item"
											style="background-image: url()">
											<span class="elementskit-accordion-content">
												<span class="elementskit-icon-wraper ekit-image-accordion-actions">
													<a data-elementor-open-lightbox="yes"
														data-elementor-lightbox-slideshow="7878166"
														data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiI3ODc4MTY2In0%3D"
														href="#" aria-label="pupup-button" class="icon-outline circle">
														<i aria-hidden="true" class="icon icon-plus"></i> </a>
												</span>
												<span class="elementskit-accordion-title-wraper">
													<span class="elementskit-accordion-title ">

														Safety Education
													</span>
												</span>
												<span class="elementskit-btn-wraper">
													<a
														class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
														Read More </a>
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-9b847e7 e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						data-id="9b847e7" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-38fe93b ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
							data-id="38fe93b" data-element_type="widget"
							data-widget_type="elementskit-image-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="ekit-image-accordion elementskit-image-accordion-wraper">
										<input type="radio" name="ekit_ia_38fe93b" id="ekit_ia_38fe93b_0"
											class="elementskit-single-image-accordion--input" hidden>
										<label for="ekit_ia_38fe93b_0"
											class="elementskit-single-image-accordion ekit-image-accordion-item"
											style="background-image: url()">
											<span class="elementskit-accordion-content">
												<span class="elementskit-icon-wraper ekit-image-accordion-actions">
													<a data-elementor-open-lightbox="yes"
														data-elementor-lightbox-slideshow="38fe93b"
														data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiIzOGZlOTNiIn0%3D"
														href="#" aria-label="pupup-button" class="icon-outline circle">
														<i aria-hidden="true" class="icon icon-plus"></i> </a>
												</span>
												<span class="elementskit-accordion-title-wraper">
													<span class="elementskit-accordion-title ">

														Rescue Operations
													</span>
												</span>
												<span class="elementskit-btn-wraper">
													<a
														class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
														Read More </a>
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-93f67c1 e-con-full e-flex e-con e-child"
					data-id="93f67c1" data-element_type="container">
					<div class="elementor-element elementor-element-8fae8b7 e-con-full animated-fast e-flex elementor-invisible e-con e-child"
						data-id="8fae8b7" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-9c08fd0 ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
							data-id="9c08fd0" data-element_type="widget"
							data-widget_type="elementskit-image-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="ekit-image-accordion elementskit-image-accordion-wraper">
										<input type="radio" name="ekit_ia_9c08fd0" id="ekit_ia_9c08fd0_0"
											class="elementskit-single-image-accordion--input" hidden>
										<label for="ekit_ia_9c08fd0_0"
											class="elementskit-single-image-accordion ekit-image-accordion-item"
											style="background-image: url()">
											<span class="elementskit-accordion-content">
												<span class="elementskit-icon-wraper ekit-image-accordion-actions">
													<a data-elementor-open-lightbox="yes"
														data-elementor-lightbox-slideshow="9c08fd0"
														data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiI5YzA4ZmQwIn0%3D"
														href="#" aria-label="pupup-button" class="icon-outline circle">
														<i aria-hidden="true" class="icon icon-plus"></i> </a>
												</span>
												<span class="elementskit-accordion-title-wraper">
													<span class="elementskit-accordion-title ">

														Fire Control
													</span>
												</span>
												<span class="elementskit-btn-wraper">
													<a
														class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
														Read More </a>
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-eb3933f e-con-full e-flex elementor-invisible e-con e-child"
						data-id="eb3933f" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-9840cfd ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
							data-id="9840cfd" data-element_type="widget"
							data-widget_type="elementskit-image-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="ekit-image-accordion elementskit-image-accordion-wraper">
										<input type="radio" name="ekit_ia_9840cfd" id="ekit_ia_9840cfd_0"
											class="elementskit-single-image-accordion--input" hidden>
										<label for="ekit_ia_9840cfd_0"
											class="elementskit-single-image-accordion ekit-image-accordion-item"
											style="background-image: url()">
											<span class="elementskit-accordion-content">
												<span class="elementskit-icon-wraper ekit-image-accordion-actions">
													<a data-elementor-open-lightbox="yes"
														data-elementor-lightbox-slideshow="9840cfd"
														data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiI5ODQwY2ZkIn0%3D"
														href="#" aria-label="pupup-button" class="icon-outline circle">
														<i aria-hidden="true" class="icon icon-plus"></i> </a>
												</span>
												<span class="elementskit-accordion-title-wraper">
													<span class="elementskit-accordion-title ">

														Safety Education
													</span>
												</span>
												<span class="elementskit-btn-wraper">
													<a
														class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
														Read More </a>
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-8b56c7f e-con-full animated-slow e-flex elementor-invisible e-con e-child"
						data-id="8b56c7f" data-element_type="container"
						data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInUp&quot;}">
						<div class="elementor-element elementor-element-269b006 ekit-image-accordion-vertical ekit-image-accordion-hover elementor-widget elementor-widget-elementskit-image-accordion"
							data-id="269b006" data-element_type="widget"
							data-widget_type="elementskit-image-accordion.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="ekit-image-accordion elementskit-image-accordion-wraper">
										<input type="radio" name="ekit_ia_269b006" id="ekit_ia_269b006_0"
											class="elementskit-single-image-accordion--input" hidden>
										<label for="ekit_ia_269b006_0"
											class="elementskit-single-image-accordion ekit-image-accordion-item"
											style="background-image: url()">
											<span class="elementskit-accordion-content">
												<span class="elementskit-icon-wraper ekit-image-accordion-actions">
													<a data-elementor-open-lightbox="yes"
														data-elementor-lightbox-slideshow="269b006"
														data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJzbGlkZXNob3ciOiIyNjliMDA2In0%3D"
														href="#" aria-label="pupup-button" class="icon-outline circle">
														<i aria-hidden="true" class="icon icon-plus"></i> </a>
												</span>
												<span class="elementskit-accordion-title-wraper">
													<span class="elementskit-accordion-title ">

														Rescue Operations
													</span>
												</span>
												<span class="elementskit-btn-wraper">
													<a
														class="ekit-image-accordion--btn elementskit-btn whitespace--normal">
														Read More </a>
												</span>
											</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-304045a e-flex e-con-boxed e-con e-parent" data-id="304045a"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-3e89d2c e-con-full e-flex e-con e-child"
					data-id="3e89d2c" data-element_type="container">
					<div class="elementor-element elementor-element-63f26cd animated-fast elementor-invisible elementor-widget elementor-widget-heading"
						data-id="63f26cd" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h5 class="elementor-heading-title elementor-size-default">Why Us</h5>
						</div>
					</div>
					<div class="elementor-element elementor-element-753d825 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
						data-id="753d825" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Committed to Serve and Protect.
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-da3ac79 elementor-widget elementor-widget-text-editor"
						data-id="da3ac79" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>We are a dedicated team with fast response, modern equipment, and a commitment to
								protecting lives and ensuring safety.</p>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-23ad651 e-con-full e-flex e-con e-child"
					data-id="23ad651" data-element_type="container">
					<div class="elementor-element elementor-element-78c9370 e-con-full e-flex e-con e-child"
						data-id="78c9370" data-element_type="container">
						<div class="elementor-element elementor-element-1e31aa8 animated-fast elementor-position-top elementor-invisible elementor-widget elementor-widget-image-box"
							data-id="1e31aa8" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}"
							data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
											class="attachment-full size-full wp-image-143" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Advanced Training</h4>
										<p class="elementor-image-box-description">The ability to face danger with
											resolve, protecting lives and property despite fear, ensuring safety and
											demonstrating unmatched valor in critical situations.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-f03ddb2 animated-fast elementor-position-top elementor-invisible elementor-widget elementor-widget-image-box"
							data-id="f03ddb2" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}"
							data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
											class="attachment-full size-full wp-image-143" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Swift Response</h4>
										<p class="elementor-image-box-description">The ability to face danger with
											resolve, protecting lives and property despite fear, ensuring safety and
											demonstrating unmatched valor in critical situations.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-c6697a5 e-con-full e-flex e-con e-child"
						data-id="c6697a5" data-element_type="container">
						<div class="elementor-element elementor-element-f924459 elementor-position-top elementor-invisible elementor-widget elementor-widget-image-box"
							data-id="f924459" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInDown&quot;}"
							data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
											class="attachment-full size-full wp-image-143" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Modern Equipment</h4>
										<p class="elementor-image-box-description">The ability to face danger with
											resolve, protecting lives and property despite fear, ensuring safety and
											demonstrating unmatched valor in critical situations.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-095d3e6 animated-slow elementor-position-top elementor-invisible elementor-widget elementor-widget-image-box"
							data-id="095d3e6" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInUp&quot;}"
							data-widget_type="image-box.default">
							<div class="elementor-widget-container">
								<div class="elementor-image-box-wrapper">
									<figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async"
											width="300" height="300"
											src="../../wp-content/uploads/sites/30/2025/01/EAPREV5a.png"
											class="attachment-full size-full wp-image-143" alt=""
											srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a.png 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/EAPREV5a-150x150.png 150w"
											sizes="(max-width: 300px) 100vw, 300px" /></figure>
									<div class="elementor-image-box-content">
										<h4 class="elementor-image-box-title">Community Commitment</h4>
										<p class="elementor-image-box-description">The ability to face danger with
											resolve, protecting lives and property despite fear, ensuring safety and
											demonstrating unmatched valor in critical situations.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-beb4ac8 e-flex e-con-boxed e-con e-parent" data-id="beb4ac8"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-db7c4f5 e-con-full e-flex e-con e-child"
					data-id="db7c4f5" data-element_type="container">
					<div class="elementor-element elementor-element-1b63b12 elementor-widget elementor-widget-image"
						data-id="1b63b12" data-element_type="widget" data-widget_type="image.default">
						<div class="elementor-widget-container">
							<img decoding="async" width="1920" height="1280"
								src="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
								class="attachment-full size-full wp-image-250" alt=""
								srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-800x533.jpg 800w"
								sizes="(max-width: 1920px) 100vw, 1920px" />
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-7819902 e-con-full e-flex e-con e-child"
					data-id="7819902" data-element_type="container">
					<div class="elementor-element elementor-element-98d13d8 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
						data-id="98d13d8" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h5 class="elementor-heading-title elementor-size-default">Our Mission Process</h5>
						</div>
					</div>
					<div class="elementor-element elementor-element-4ae8692 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
						data-id="4ae8692" data-element_type="widget"
						data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
						data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">Responding with Excellence.</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-ce63ef8 elementor-widget elementor-widget-text-editor"
						data-id="ce63ef8" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
								ullamcorper mattis, pulvinar dapibus leo.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-fe93f4f e-con-full e-flex e-con e-child"
						data-id="fe93f4f" data-element_type="container">
						<div class="elementor-element elementor-element-1434d24 e-con-full e-flex e-con e-child"
							data-id="1434d24" data-element_type="container">
							<div class="elementor-element elementor-element-ea4dd55 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="ea4dd55" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">01.</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-144ac89 elementor-widget elementor-widget-image-box"
								data-id="144ac89" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Rapid Response</h4>
											<p class="elementor-image-box-description">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-59df53d e-con-full e-flex e-con e-child"
							data-id="59df53d" data-element_type="container">
							<div class="elementor-element elementor-element-e0e1f14 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="e0e1f14" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">02.</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-3d56330 elementor-widget elementor-widget-image-box"
								data-id="3d56330" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Risk Assessment</h4>
											<p class="elementor-image-box-description">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-d8211fc e-con-full e-flex e-con e-child"
						data-id="d8211fc" data-element_type="container">
						<div class="elementor-element elementor-element-5f86950 e-con-full e-flex e-con e-child"
							data-id="5f86950" data-element_type="container">
							<div class="elementor-element elementor-element-223e8f4 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="223e8f4" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">03.</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-8c4cabe elementor-widget elementor-widget-image-box"
								data-id="8c4cabe" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Effective Action</h4>
											<p class="elementor-image-box-description">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-0879834 e-con-full e-flex e-con e-child"
							data-id="0879834" data-element_type="container">
							<div class="elementor-element elementor-element-c4bfc88 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="c4bfc88" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h4 class="elementor-heading-title elementor-size-default">04.</h4>
								</div>
							</div>
							<div class="elementor-element elementor-element-086aa18 elementor-widget elementor-widget-image-box"
								data-id="086aa18" data-element_type="widget" data-widget_type="image-box.default">
								<div class="elementor-widget-container">
									<div class="elementor-image-box-wrapper">
										<div class="elementor-image-box-content">
											<h4 class="elementor-image-box-title">Community Support</h4>
											<p class="elementor-image-box-description">Lorem ipsum dolor sit amet,
												consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-b679f94 e-flex e-con-boxed e-con e-parent" data-id="b679f94"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-41a7701 elementor-widget elementor-widget-heading"
					data-id="41a7701" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Join Us in Saving Lives!</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-4616696 elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="4616696" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Quisque ac turpis vitae neque posuere feugiat. Nunc laoreet felis at nulla egestas pulvinar.
							Aliquam cursus consectetur nunc. Pellentesque quis risus luctus lectus fringilla tempor eu
							ut dolor.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-21a2a64 elementor-align-center elementor-widget elementor-widget-button"
					data-id="21a2a64" data-element_type="widget" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Become a Firefighter</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
		<div data-elementor-type="wp-post" data-elementor-id="469" class="elementor elementor-469">
			<div class="elementor-element elementor-element-f3c5516 e-flex e-con-boxed e-con e-parent" data-id="f3c5516"
				data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="e-con-inner">
					<div class="elementor-element elementor-element-d7509dd e-con-full e-flex e-con e-child"
						data-id="d7509dd" data-element_type="container">
						<div class="elementor-element elementor-element-8e40799 e-con-full e-flex e-con e-child"
							data-id="8e40799" data-element_type="container">
							<div class="elementor-element elementor-element-c107654 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="c107654" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3 class="elementor-heading-title elementor-size-default">Stay informed with our
										firefighter news.</h3>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-9be05dd e-con-full e-flex e-con e-child"
							data-id="9be05dd" data-element_type="container">
							<div class="elementor-element elementor-element-17a1a58 elementor-widget elementor-widget-metform"
								data-id="17a1a58" data-element_type="widget" data-widget_type="metform.default">
								<div class="elementor-widget-container">
									<div id="mf-response-props-id-480" data-previous-steps-style=""
										data-editswitchopen="" data-response_type="alert"
										data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check"
										data-messageposition="top" class="   mf-scroll-top-no">
										<div class="formpicker_warper formpicker_warper_editable"
											data-metform-formpicker-key="480">

											<div class="mf-widget-container">

												<div id="metform-wrap-17a1a58-480" class="mf-form-wrapper"
													data-form-id="480"
													data-action="../../wp-json/metform/v1/entries/insert/480.json"
													data-wp-nonce="a4d3c52f57" data-form-nonce="ce90749bae"
													data-quiz-summery="false" data-save-progress="false"
													data-form-type="general-form" data-stop-vertical-effect=""></div>


												<!----------------------------- 
			* controls_data : find the the props passed indie of data attribute
			* props.SubmitResponseMarkup : contains the markup of error or success message
			* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
		--------------------------- -->

												<script type="text/mf" class="mf-template">
			function controls_data (value){
				let currentWrapper = "mf-response-props-id-480";
				let currentEl = document.getElementById(currentWrapper);
				
				return currentEl ? currentEl.dataset[value] : false
			}


			let is_edit_mode = '' ? true : false;
			let message_position = controls_data('messageposition') || 'top';

			
			let message_successIcon = controls_data('successicon') || '';
			let message_errorIcon = controls_data('erroricon') || '';
			let message_editSwitch = controls_data('editswitchopen') === 'yes' ? true : false;
			let message_proClass = controls_data('editswitchopen') === 'yes' ? 'mf_pro_activated' : '';
			
			let is_dummy_markup = is_edit_mode && message_editSwitch ? true : false;

			
			return html`
				<form
					className="metform-form-content"
					ref=${parent.formContainerRef}
					onSubmit=${ validation.handleSubmit( parent.handleFormSubmit ) }
				
					>
			
			
					${is_dummy_markup ? message_position === 'top' ?  props.ResponseDummyMarkup(message_successIcon, message_proClass) : '' : ''}
					${is_dummy_markup ? ' ' :  message_position === 'top' ? props.SubmitResponseMarkup`${parent}${state}${message_successIcon}${message_errorIcon}${message_proClass}` : ''}

					<!--------------------------------------------------------
					*** IMPORTANT / DANGEROUS ***
					${html``} must be used as in immediate child of "metform-form-main-wrapper"
					class otherwise multistep form will not run at all
					---------------------------------------------------------->

					<div className="metform-form-main-wrapper" key=${'hide-form-after-submit'} ref=${parent.formRef}>
					${html`
								<div data-elementor-type="wp-post" key="2" data-elementor-id="480" className="elementor elementor-480">
				<div className="elementor-element elementor-element-dae7c65 e-con-full e-flex e-con e-parent" data-id="dae7c65" data-element_type="container">
		<div className="elementor-element elementor-element-7fa0036 e-con-full e-flex e-con e-child" data-id="7fa0036" data-element_type="container">
				<div className="elementor-element elementor-element-c456cf1 elementor-widget elementor-widget-mf-email" data-id="c456cf1" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default">
				<div className="elementor-widget-container">
					
		<div className="mf-input-wrapper">
			
			<input 
				type="email" 
				 
				defaultValue="" 
				className="mf-input " 
				id="mf-input-email-c456cf1" 
				name="mf-email" 
				placeholder="${ parent.decodeEntities(`Enter Your Email Here`) } " 
				 
				onBlur=${parent.handleChange} onFocus=${parent.handleChange} aria-invalid=${validation.errors['mf-email'] ? 'true' : 'false' } 
				ref=${el=> parent.activateValidation({"message":"This field is required.","emailMessage":"Please enter a valid Email address","minLength":1,"maxLength":"","type":"none","required":true,"expression":"null"}, el)}
							/>

						<${validation.ErrorMessage} 
				errors=${validation.errors} 
				name="mf-email" 
				as=${html`<span className="mf-error-message"></span>`}
			/>
			
					</div>

				</div>
				</div>
				</div>
		<div className="elementor-element elementor-element-4be4086 e-con-full e-flex e-con e-child" data-id="4be4086" data-element_type="container">
				<div className="elementor-element elementor-element-819d0f4 mf-btn--justify mf-btn--tablet-justify mf-btn--mobile-justify elementor-widget elementor-widget-mf-button" data-id="819d0f4" data-element_type="widget" data-widget_type="mf-button.default">
				<div className="elementor-widget-container">
							<div className="mf-btn-wraper " data-mf-form-conditional-logic-requirement="">
							<button type="submit" className="metform-btn metform-submit-btn " id="">
					<span>${ parent.decodeEntities(`Subscribe`) } </span>
				</button>
			        </div>
        				</div>
				</div>
				</div>
				</div>
				</div>
							`}
					</div>

					${is_dummy_markup ? message_position === 'bottom' ? props.ResponseDummyMarkup(message_successIcon, message_proClass) : '' : ''}
					${is_dummy_markup ? ' ' : message_position === 'bottom' ? props.SubmitResponseMarkup`${parent}${state}${message_successIcon}${message_errorIcon}${message_proClass}` : ''}
				
				</form>
			`
		</script>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1c7e1d0 elementor-widget elementor-widget-heading"
								data-id="1c7e1d0" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Subscribe to receive
										inspiration, ideas, and news in your inbox.</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-abc2bdb e-con-full e-flex e-con e-child"
						data-id="abc2bdb" data-element_type="container">
						<div class="elementor-element elementor-element-b5288ba e-con-full e-flex e-con e-child"
							data-id="b5288ba" data-element_type="container">
							<div class="elementor-element elementor-element-3a01373 elementor-widget elementor-widget-image"
								data-id="3a01373" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="294" height="75"
										src="../../wp-content/uploads/sites/30/2025/01/FireGuard-1.png"
										class="attachment-full size-full wp-image-436" alt="" />
								</div>
							</div>
							<div class="elementor-element elementor-element-29aeea3 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="29aeea3" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit
										amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
										mattis, pulvinar dapibus leo.</h6>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-d6593e2 e-con-full e-flex e-con e-child"
							data-id="d6593e2" data-element_type="container">
							<div class="elementor-element elementor-element-5d7fcb3 e-con-full e-flex e-con e-child"
								data-id="5d7fcb3" data-element_type="container">
								<div class="elementor-element elementor-element-8a4518e elementor-widget elementor-widget-heading"
									data-id="8a4518e" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">About Us</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-029098e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="029098e" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">About Us</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">History</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Firefighters</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Contact Us</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-fe1ab19 e-con-full e-flex e-con e-child"
								data-id="fe1ab19" data-element_type="container">
								<div class="elementor-element elementor-element-d913d87 elementor-widget elementor-widget-heading"
									data-id="d913d87" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Services</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-c226c11 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="c226c11" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Fire Control</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Emergency Response</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Rescue Operations</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Safety Education</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-36ab492 e-con-full e-flex e-con e-child"
								data-id="36ab492" data-element_type="container">
								<div class="elementor-element elementor-element-4a3cd29 elementor-widget elementor-widget-heading"
									data-id="4a3cd29" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Get in Touch</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-2afe56f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="2afe56f" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-map-marker1"></i> </span>
												<span class="elementor-icon-list-text">456 Creative District Ahmad Yani,
													Medan</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-envelope2"></i> </span>
												<span class="elementor-icon-list-text">hola@dominantsite.com</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-phone-call2"></i> </span>
												<span class="elementor-icon-list-text">+800-3374-4676</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-558ee9b e-con-full e-flex e-con e-child"
						data-id="558ee9b" data-element_type="container">
						<div class="elementor-element elementor-element-98e7caf e-con-full e-flex e-con e-child"
							data-id="98e7caf" data-element_type="container">
							<div class="elementor-element elementor-element-3c24aa9 elementor-widget elementor-widget-heading"
								data-id="3c24aa9" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Nergy, 2025 © All Rights
										Reserved Dex-Theme</h6>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-58f034c e-con-full e-flex e-con e-child"
							data-id="58f034c" data-element_type="container">
							<div class="elementor-element elementor-element-51a96ed elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="51a96ed" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items elementor-inline-items">
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Terms & Conditions</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Privacy Policy</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">FAQ</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</div>

