
	<link rel='stylesheet' id='elementor-post-749-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-7499d60.css?ver=1745655198' media='all' />
	

<body
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-749 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-749">

	<div data-elementor-type="wp-post" data-elementor-id="749" class="elementor elementor-749">
		<div class="elementor-element elementor-element-8748c74 e-flex e-con-boxed e-con e-parent" data-id="8748c74"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-bf20f7d elementor-widget elementor-widget-heading"
					data-id="bf20f7d" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Gallery</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-1678565 elementor-widget elementor-widget-text-editor"
					data-id="1678565" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Gallery</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-ed643e7 e-flex e-con-boxed e-con e-parent" data-id="ed643e7"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-db064aa elementor-widget elementor-widget-heading"
					data-id="db064aa" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Heroic Moments</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-4d4c4bc elementor-widget__width-initial elementor-widget elementor-widget-heading"
					data-id="4d4c4bc" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Firefighter Highlights.</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-d6d127d elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="d6d127d" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Praesent malesuada odio lorem, in mollis odio blandit at. Etiam scelerisque pharetra commodo.
							Mauris in nunc vel mi ornare aliquam ac in sapien. Vestibulum ac urna lacus.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-2cc95b6 e-con-full e-flex e-con e-child"
					data-id="2cc95b6" data-element_type="container">
					<div class="elementor-element elementor-element-a8333d9 e-con-full e-flex e-con e-child"
						data-id="a8333d9" data-element_type="container">
						<div class="elementor-element elementor-element-9ac9ffd elementor-widget elementor-widget-image"
							data-id="9ac9ffd" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<a href="../../wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg"
									data-elementor-open-lightbox="yes" data-elementor-lightbox-title="CUV7FDX"
									data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MzgzLCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcL0NVVjdGRFguanBnIn0%3D">
									<img fetchpriority="high" decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg"
										class="attachment-full size-full wp-image-383" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/CUV7FDX-800x533.jpg 800w"
										sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
							</div>
						</div>
						<div class="elementor-element elementor-element-ecb4efa elementor-widget elementor-widget-image"
							data-id="ecb4efa" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<a href="../../wp-content/uploads/sites/30/2025/01/89ZL7Q2.jpg"
									data-elementor-open-lightbox="yes" data-elementor-lightbox-title="89ZL7Q2"
									data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzc1LCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcLzg5Wkw3UTIuanBnIn0%3D">
									<img decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/89ZL7Q2.jpg"
										class="attachment-full size-full wp-image-375" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/89ZL7Q2.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/89ZL7Q2-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/89ZL7Q2-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/89ZL7Q2-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/89ZL7Q2-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/89ZL7Q2-800x533.jpg 800w"
										sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-0466485 e-con-full e-flex e-con e-child"
						data-id="0466485" data-element_type="container">
						<div class="elementor-element elementor-element-7bf4635 elementor-widget elementor-widget-image"
							data-id="7bf4635" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<a href="../../wp-content/uploads/sites/30/2025/01/3BT37ES.jpg"
									data-elementor-open-lightbox="yes" data-elementor-lightbox-title="3BT37ES"
									data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjAsInVybCI6Imh0dHBzOlwvXC9hc2tpdC5kZXh0aGVtZS5uZXRcL2ZpcmVndWFyZFwvd3AtY29udGVudFwvdXBsb2Fkc1wvc2l0ZXNcLzMwXC8yMDI1XC8wMVwvM0JUMzdFUy5qcGcifQ%3D%3D">
									<img loading="lazy" decoding="async" width="1920" height="1280"
										src="../../wp-content/uploads/sites/30/2025/01/3BT37ES.jpg"
										class="attachment-full size-full wp-image-20" alt=""
										srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/3BT37ES.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/3BT37ES-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/3BT37ES-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/3BT37ES-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/3BT37ES-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/3BT37ES-800x533.jpg 800w"
										sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
							</div>
						</div>
						<div class="elementor-element elementor-element-18547dd e-con-full e-flex e-con e-child"
							data-id="18547dd" data-element_type="container">
							<div class="elementor-element elementor-element-7a28663 e-con-full e-flex e-con e-child"
								data-id="7a28663" data-element_type="container">
								<div class="elementor-element elementor-element-0d026a6 elementor-widget elementor-widget-image"
									data-id="0d026a6" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
											data-elementor-open-lightbox="yes" data-elementor-lightbox-title="QNXL294"
											data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MjUwLCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcL1FOWEwyOTQuanBnIn0%3D">
											<img loading="lazy" decoding="async" width="1920" height="1280"
												src="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
												class="attachment-full size-full wp-image-250" alt=""
												srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-800x533.jpg 800w"
												sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
									</div>
								</div>
								<div class="elementor-element elementor-element-98f61b2 elementor-widget elementor-widget-image"
									data-id="98f61b2" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="../../wp-content/uploads/sites/30/2025/01/ZQR5V2Z.jpg"
											data-elementor-open-lightbox="yes" data-elementor-lightbox-title="ZQR5V2Z"
											data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NywidXJsIjoiaHR0cHM6XC9cL2Fza2l0LmRleHRoZW1lLm5ldFwvZmlyZWd1YXJkXC93cC1jb250ZW50XC91cGxvYWRzXC9zaXRlc1wvMzBcLzIwMjVcLzAxXC9aUVI1VjJaLmpwZyJ9">
											<img loading="lazy" decoding="async" width="1920" height="1280"
												src="../../wp-content/uploads/sites/30/2025/01/ZQR5V2Z.jpg"
												class="attachment-full size-full wp-image-7" alt=""
												srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/ZQR5V2Z.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/ZQR5V2Z-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/ZQR5V2Z-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/ZQR5V2Z-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/ZQR5V2Z-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/ZQR5V2Z-800x533.jpg 800w"
												sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-eb729ea e-con-full e-flex e-con e-child"
								data-id="eb729ea" data-element_type="container">
								<div class="elementor-element elementor-element-83751f7 elementor-widget elementor-widget-image"
									data-id="83751f7" data-element_type="widget" data-widget_type="image.default">
									<div class="elementor-widget-container">
										<a href="../../wp-content/uploads/sites/30/2025/01/2QFH4XN.jpg"
											data-elementor-open-lightbox="yes" data-elementor-lightbox-title="2QFH4XN"
											data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6MzY5LCJ1cmwiOiJodHRwczpcL1wvYXNraXQuZGV4dGhlbWUubmV0XC9maXJlZ3VhcmRcL3dwLWNvbnRlbnRcL3VwbG9hZHNcL3NpdGVzXC8zMFwvMjAyNVwvMDFcLzJRRkg0WE4uanBnIn0%3D">
											<img loading="lazy" decoding="async" width="1920" height="1280"
												src="../../wp-content/uploads/sites/30/2025/01/2QFH4XN.jpg"
												class="attachment-full size-full wp-image-369" alt=""
												srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/2QFH4XN.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/2QFH4XN-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/2QFH4XN-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/2QFH4XN-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/2QFH4XN-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/2QFH4XN-800x533.jpg 800w"
												sizes="(max-width: 1920px) 100vw, 1920px" /> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
		<div data-elementor-type="wp-post" data-elementor-id="469" class="elementor elementor-469">
			<div class="elementor-element elementor-element-f3c5516 e-flex e-con-boxed e-con e-parent" data-id="f3c5516"
				data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="e-con-inner">
					<div class="elementor-element elementor-element-d7509dd e-con-full e-flex e-con e-child"
						data-id="d7509dd" data-element_type="container">
						<div class="elementor-element elementor-element-8e40799 e-con-full e-flex e-con e-child"
							data-id="8e40799" data-element_type="container">
							<div class="elementor-element elementor-element-c107654 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="c107654" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3 class="elementor-heading-title elementor-size-default">Stay informed with our
										firefighter news.</h3>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-9be05dd e-con-full e-flex e-con e-child"
							data-id="9be05dd" data-element_type="container">
							<div class="elementor-element elementor-element-17a1a58 elementor-widget elementor-widget-metform"
								data-id="17a1a58" data-element_type="widget" data-widget_type="metform.default">
								<div class="elementor-widget-container">
									<div id="mf-response-props-id-480" data-previous-steps-style=""
										data-editswitchopen="" data-response_type="alert"
										data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check"
										data-messageposition="top" class="   mf-scroll-top-no">
										<div class="formpicker_warper formpicker_warper_editable"
											data-metform-formpicker-key="480">

											<div class="mf-widget-container">

												<div id="metform-wrap-17a1a58-480" class="mf-form-wrapper"
													data-form-id="480"
													data-action="https://askit.dextheme.net/fireguard/wp-json/metform/v1/entries/insert/480"
													data-wp-nonce="a4d3c52f57" data-form-nonce="ce90749bae"
													data-quiz-summery="false" data-save-progress="false"
													data-form-type="general-form" data-stop-vertical-effect=""></div>


												<!----------------------------- 
			* controls_data : find the the props passed indie of data attribute
			* props.SubmitResponseMarkup : contains the markup of error or success message
			* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
		--------------------------- -->

												<script type="text/mf" class="mf-template">
			function controls_data (value){
				let currentWrapper = "mf-response-props-id-480";
				let currentEl = document.getElementById(currentWrapper);
				
				return currentEl ? currentEl.dataset[value] : false
			}


			let is_edit_mode = '' ? true : false;
			let message_position = controls_data('messageposition') || 'top';

			
			let message_successIcon = controls_data('successicon') || '';
			let message_errorIcon = controls_data('erroricon') || '';
			let message_editSwitch = controls_data('editswitchopen') === 'yes' ? true : false;
			let message_proClass = controls_data('editswitchopen') === 'yes' ? 'mf_pro_activated' : '';
			
			let is_dummy_markup = is_edit_mode && message_editSwitch ? true : false;

			
			return html`
				<form
					className="metform-form-content"
					ref=${parent.formContainerRef}
					onSubmit=${ validation.handleSubmit( parent.handleFormSubmit ) }
				
					>
			
			
					${is_dummy_markup ? message_position === 'top' ?  props.ResponseDummyMarkup(message_successIcon, message_proClass) : '' : ''}
					${is_dummy_markup ? ' ' :  message_position === 'top' ? props.SubmitResponseMarkup`${parent}${state}${message_successIcon}${message_errorIcon}${message_proClass}` : ''}

					<!--------------------------------------------------------
					*** IMPORTANT / DANGEROUS ***
					${html``} must be used as in immediate child of "metform-form-main-wrapper"
					class otherwise multistep form will not run at all
					---------------------------------------------------------->

					<div className="metform-form-main-wrapper" key=${'hide-form-after-submit'} ref=${parent.formRef}>
					${html`
								<div data-elementor-type="wp-post" key="2" data-elementor-id="480" className="elementor elementor-480">
				<div className="elementor-element elementor-element-dae7c65 e-con-full e-flex e-con e-parent" data-id="dae7c65" data-element_type="container">
		<div className="elementor-element elementor-element-7fa0036 e-con-full e-flex e-con e-child" data-id="7fa0036" data-element_type="container">
				<div className="elementor-element elementor-element-c456cf1 elementor-widget elementor-widget-mf-email" data-id="c456cf1" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default">
				<div className="elementor-widget-container">
					
		<div className="mf-input-wrapper">
			
			<input 
				type="email" 
				 
				defaultValue="" 
				className="mf-input " 
				id="mf-input-email-c456cf1" 
				name="mf-email" 
				placeholder="${ parent.decodeEntities(`Enter Your Email Here`) } " 
				 
				onBlur=${parent.handleChange} onFocus=${parent.handleChange} aria-invalid=${validation.errors['mf-email'] ? 'true' : 'false' } 
				ref=${el=> parent.activateValidation({"message":"This field is required.","emailMessage":"Please enter a valid Email address","minLength":1,"maxLength":"","type":"none","required":true,"expression":"null"}, el)}
							/>

						<${validation.ErrorMessage} 
				errors=${validation.errors} 
				name="mf-email" 
				as=${html`<span className="mf-error-message"></span>`}
			/>
			
					</div>

				</div>
				</div>
				</div>
		<div className="elementor-element elementor-element-4be4086 e-con-full e-flex e-con e-child" data-id="4be4086" data-element_type="container">
				<div className="elementor-element elementor-element-819d0f4 mf-btn--justify mf-btn--tablet-justify mf-btn--mobile-justify elementor-widget elementor-widget-mf-button" data-id="819d0f4" data-element_type="widget" data-widget_type="mf-button.default">
				<div className="elementor-widget-container">
							<div className="mf-btn-wraper " data-mf-form-conditional-logic-requirement="">
							<button type="submit" className="metform-btn metform-submit-btn " id="">
					<span>${ parent.decodeEntities(`Subscribe`) } </span>
				</button>
			        </div>
        				</div>
				</div>
				</div>
				</div>
				</div>
							`}
					</div>

					${is_dummy_markup ? message_position === 'bottom' ? props.ResponseDummyMarkup(message_successIcon, message_proClass) : '' : ''}
					${is_dummy_markup ? ' ' : message_position === 'bottom' ? props.SubmitResponseMarkup`${parent}${state}${message_successIcon}${message_errorIcon}${message_proClass}` : ''}
				
				</form>
			`
		</script>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1c7e1d0 elementor-widget elementor-widget-heading"
								data-id="1c7e1d0" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Subscribe to receive
										inspiration, ideas, and news in your inbox.</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-abc2bdb e-con-full e-flex e-con e-child"
						data-id="abc2bdb" data-element_type="container">
						<div class="elementor-element elementor-element-b5288ba e-con-full e-flex e-con e-child"
							data-id="b5288ba" data-element_type="container">
							<div class="elementor-element elementor-element-3a01373 elementor-widget elementor-widget-image"
								data-id="3a01373" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="294" height="75"
										src="../../wp-content/uploads/sites/30/2025/01/FireGuard-1.png"
										class="attachment-full size-full wp-image-436" alt="" />
								</div>
							</div>
							<div class="elementor-element elementor-element-29aeea3 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="29aeea3" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit
										amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
										mattis, pulvinar dapibus leo.</h6>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-d6593e2 e-con-full e-flex e-con e-child"
							data-id="d6593e2" data-element_type="container">
							<div class="elementor-element elementor-element-5d7fcb3 e-con-full e-flex e-con e-child"
								data-id="5d7fcb3" data-element_type="container">
								<div class="elementor-element elementor-element-8a4518e elementor-widget elementor-widget-heading"
									data-id="8a4518e" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">About Us</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-029098e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="029098e" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">About Us</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">History</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Firefighters</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Contact Us</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-fe1ab19 e-con-full e-flex e-con e-child"
								data-id="fe1ab19" data-element_type="container">
								<div class="elementor-element elementor-element-d913d87 elementor-widget elementor-widget-heading"
									data-id="d913d87" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Services</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-c226c11 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="c226c11" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Fire Control</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Emergency Response</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Rescue Operations</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Safety Education</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-36ab492 e-con-full e-flex e-con e-child"
								data-id="36ab492" data-element_type="container">
								<div class="elementor-element elementor-element-4a3cd29 elementor-widget elementor-widget-heading"
									data-id="4a3cd29" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Get in Touch</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-2afe56f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="2afe56f" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-map-marker1"></i> </span>
												<span class="elementor-icon-list-text">456 Creative District Ahmad Yani,
													Medan</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-envelope2"></i> </span>
												<span class="elementor-icon-list-text">hola@dominantsite.com</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-phone-call2"></i> </span>
												<span class="elementor-icon-list-text">+800-3374-4676</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-558ee9b e-con-full e-flex e-con e-child"
						data-id="558ee9b" data-element_type="container">
						<div class="elementor-element elementor-element-98e7caf e-con-full e-flex e-con e-child"
							data-id="98e7caf" data-element_type="container">
							<div class="elementor-element elementor-element-3c24aa9 elementor-widget elementor-widget-heading"
								data-id="3c24aa9" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Nergy, 2025 © All Rights
										Reserved Dex-Theme</h6>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-58f034c e-con-full e-flex e-con e-child"
							data-id="58f034c" data-element_type="container">
							<div class="elementor-element elementor-element-51a96ed elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="51a96ed" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items elementor-inline-items">
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Terms & Conditions</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Privacy Policy</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">FAQ</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

