
	<link rel='stylesheet' id='elementor-post-765-css'
		href='../../wp-content/uploads/sites/30/elementor/css/post-7652888.css?ver=1745655199' media='all' />
	
<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-765 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-765">
	
	<div data-elementor-type="wp-post" data-elementor-id="765" class="elementor elementor-765">
		<div class="elementor-element elementor-element-abc8104 e-flex e-con-boxed e-con e-parent" data-id="abc8104"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-79e7d97 elementor-widget elementor-widget-heading"
					data-id="79e7d97" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Testimonials</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-5341750 elementor-widget elementor-widget-text-editor"
					data-id="5341750" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Testimonials</p>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-a19c4c1 e-flex e-con-boxed e-con e-parent" data-id="a19c4c1"
			data-element_type="container">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-9e2318c elementor-widget elementor-widget-heading"
					data-id="9e2318c" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h5 class="elementor-heading-title elementor-size-default">Testimonials</h5>
					</div>
				</div>
				<div class="elementor-element elementor-element-b0e4e68 elementor-widget elementor-widget-heading"
					data-id="b0e4e68" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">What client Say.</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-dc9d011 elementor-widget elementor-widget-spacer"
					data-id="dc9d011" data-element_type="widget" data-widget_type="spacer.default">
					<div class="elementor-widget-container">
						<div class="elementor-spacer">
							<div class="elementor-spacer-inner"></div>
						</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-cbb06ee ekit-testimonial-slide elementor-widget elementor-widget-elementskit-testimonial"
					data-id="cbb06ee" data-element_type="widget" data-widget_type="elementskit-testimonial.default">
					<div class="elementor-widget-container">
						<div class="ekit-wid-con">
							<div class="elementskit-testimonial-slider ekit_testimonial_style_5 arrow_inside "
								data-config="{&quot;rtl&quot;:false,&quot;arrows&quot;:true,&quot;dots&quot;:false,&quot;pauseOnHover&quot;:true,&quot;autoplay&quot;:true,&quot;speed&quot;:1500,&quot;slidesPerGroup&quot;:1,&quot;slidesPerView&quot;:3,&quot;loop&quot;:true,&quot;spaceBetween&quot;:30,&quot;breakpoints&quot;:{&quot;320&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;768&quot;:{&quot;slidesPerView&quot;:2,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:30},&quot;1024&quot;:{&quot;slidesPerView&quot;:3,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:30}}}">
								<div class="ekit-main-swiper swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div
													class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-ccb6c51">
													<div class="elementskit-commentor-header">

													</div>

													<div class="elementskit-commentor-content">
														<p>Their fast response saved our home. The team’s
															professionalism, courage, and efficiency during the fire
															were remarkable. We feel safer knowing they are protecting
															our community.</p>
													</div>

													<div class="elementskit-commentor-bio">
														<div class="elementkit-commentor-details client_left">
															<div
																class="elementskit-commentor-image ekit-testimonial--avatar">
																<img fetchpriority="high" decoding="async" width="600"
																	height="600"
																	src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUf1.jpg"
																	class="attachment-full size-full" alt=""
																	srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1-150x150.jpg 150w"
																	sizes="(max-width: 600px) 100vw, 600px" />
															</div>
															<div class="elementskit-profile-info">
																<strong class="elementskit-author-name">John
																	Carter</strong>
																<span class="elementskit-author-des">Home Owner</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div
													class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-6425832">
													<div class="elementskit-commentor-header">

													</div>

													<div class="elementskit-commentor-content">
														<p>The firefighters arrived quickly, controlled the fire
															effectively, and ensured everyone’s safety. Their dedication
															and skill made a devastating situation manageable. I highly
															recommend their exceptional service.</p>
													</div>

													<div class="elementskit-commentor-bio">
														<div class="elementkit-commentor-details client_left">
															<div
																class="elementskit-commentor-image ekit-testimonial--avatar">
																<img decoding="async" width="600" height="600"
																	src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUm1.jpg"
																	class="attachment-full size-full" alt=""
																	srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1-150x150.jpg 150w"
																	sizes="(max-width: 600px) 100vw, 600px" />
															</div>
															<div class="elementskit-profile-info">
																<strong class="elementskit-author-name">Sarah
																	Mitchell</strong>
																<span class="elementskit-author-des">Business
																	Owner</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div
													class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-c47c8be">
													<div class="elementskit-commentor-header">

													</div>

													<div class="elementskit-commentor-content">
														<p>Exceptional team with unmatched bravery. They acted quickly
															and reassured us during a critical moment. Their expertise
															and compassion prove why they’re trusted by everyone in our
															neighborhood.</p>
													</div>

													<div class="elementskit-commentor-bio">
														<div class="elementkit-commentor-details client_left">
															<div
																class="elementskit-commentor-image ekit-testimonial--avatar">
																<img loading="lazy" decoding="async" width="600"
																	height="600"
																	src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUh1.jpg"
																	class="attachment-full size-full" alt=""
																	srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1-150x150.jpg 150w"
																	sizes="(max-width: 600px) 100vw, 600px" />
															</div>
															<div class="elementskit-profile-info">
																<strong class="elementskit-author-name">Michael
																	Thompson</strong>
																<span class="elementskit-author-des">Local
																	Resident</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="swiper-slide-inner">
												<div
													class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-9c52905">
													<div class="elementskit-commentor-header">

													</div>

													<div class="elementskit-commentor-content">
														<p>Their unwavering commitment to public safety is inspiring.
															From response time to handling emergencies, they exemplify
															true professionalism. We are fortunate to have such
															dedicated firefighters serving our community</p>
													</div>

													<div class="elementskit-commentor-bio">
														<div class="elementkit-commentor-details client_left">
															<div
																class="elementskit-commentor-image ekit-testimonial--avatar">
																<img loading="lazy" decoding="async" width="600"
																	height="600"
																	src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUa1.jpg"
																	class="attachment-full size-full" alt=""
																	srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1-150x150.jpg 150w"
																	sizes="(max-width: 600px) 100vw, 600px" />
															</div>
															<div class="elementskit-profile-info">
																<strong class="elementskit-author-name">Emily
																	Brown</strong>
																<span class="elementskit-author-des">Community
																	Leader</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="swiper-navigation-button swiper-button-prev">
										<i aria-hidden="true" class="icon icon-chevron-left-circle"></i>
									</div>
									<div class="swiper-navigation-button swiper-button-next">
										<i aria-hidden="true" class="icon icon-chevron-right-circle"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-bf8eb45 e-con-full e-flex e-con e-parent" data-id="bf8eb45"
			data-element_type="container">
			<div class="elementor-element elementor-element-8dfe018 e-con-full e-flex e-con e-child" data-id="8dfe018"
				data-element_type="container">
				<div class="elementor-element elementor-element-8fa17f7 elementor-widget elementor-widget-image"
					data-id="8fa17f7" data-element_type="widget" data-widget_type="image.default">
					<div class="elementor-widget-container">
						<img loading="lazy" decoding="async" width="1920" height="1280"
							src="../../wp-content/uploads/sites/30/2025/01/QNXL294.jpg"
							class="attachment-full size-full wp-image-250" alt=""
							srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294.jpg 1920w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-300x200.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1024x683.jpg 1024w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-768x512.jpg 768w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-1536x1024.jpg 1536w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/QNXL294-800x533.jpg 800w"
							sizes="(max-width: 1920px) 100vw, 1920px" />
					</div>
				</div>
			</div>
			<div class="elementor-element elementor-element-f8545bf e-con-full e-flex e-con e-child" data-id="f8545bf"
				data-element_type="container">
				<div class="elementor-element elementor-element-d059714 e-con-full e-flex e-con e-child"
					data-id="d059714" data-element_type="container">
					<div class="elementor-element elementor-element-410238d e-con-full e-flex e-con e-child"
						data-id="410238d" data-element_type="container">
						<div class="elementor-element elementor-element-b337664 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
							data-id="b337664" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
							data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h5 class="elementor-heading-title elementor-size-default">Testimonials</h5>
							</div>
						</div>
						<div class="elementor-element elementor-element-caee427 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
							data-id="caee427" data-element_type="widget"
							data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}"
							data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h2 class="elementor-heading-title elementor-size-default">What client Say.</h2>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-1aeaa8c e-con-full e-flex e-con e-child"
						data-id="1aeaa8c" data-element_type="container">
						<div class="elementor-element elementor-element-9eb4ae9 elementor-widget elementor-widget-image"
							data-id="9eb4ae9" data-element_type="widget" data-widget_type="image.default">
							<div class="elementor-widget-container">
								<img loading="lazy" decoding="async" width="216" height="195"
									src="../../wp-content/uploads/sites/30/2025/01/Quote-1.png"
									class="attachment-full size-full wp-image-292" alt="" />
							</div>
						</div>
						<div class="elementor-element elementor-element-34f1596 ekit-testimonial-slide elementor-widget elementor-widget-elementskit-testimonial"
							data-id="34f1596" data-element_type="widget"
							data-widget_type="elementskit-testimonial.default">
							<div class="elementor-widget-container">
								<div class="ekit-wid-con">
									<div class="elementskit-testimonial-slider ekit_testimonial_style_5 arrow_inside "
										data-config="{&quot;rtl&quot;:false,&quot;arrows&quot;:true,&quot;dots&quot;:false,&quot;pauseOnHover&quot;:true,&quot;autoplay&quot;:true,&quot;speed&quot;:1500,&quot;slidesPerGroup&quot;:1,&quot;slidesPerView&quot;:1,&quot;loop&quot;:true,&quot;spaceBetween&quot;:15,&quot;breakpoints&quot;:{&quot;320&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;768&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:10},&quot;1024&quot;:{&quot;slidesPerView&quot;:1,&quot;slidesPerGroup&quot;:1,&quot;spaceBetween&quot;:15}}}">
										<div class="ekit-main-swiper swiper">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-ccb6c51">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>Their fast response saved our home. The team’s
																	professionalism, courage, and efficiency during the
																	fire were remarkable. We feel safer knowing they are
																	protecting our community.</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img fetchpriority="high" decoding="async"
																			width="600" height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUf1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUf1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">John
																			Carter</strong>
																		<span class="elementskit-author-des">Home
																			Owner</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-6425832">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>The firefighters arrived quickly, controlled the fire
																	effectively, and ensured everyone’s safety. Their
																	dedication and skill made a devastating situation
																	manageable. I highly recommend their exceptional
																	service.</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img decoding="async" width="600" height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUm1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUm1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">Sarah
																			Mitchell</strong>
																		<span class="elementskit-author-des">Business
																			Owner</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-c47c8be">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>Exceptional team with unmatched bravery. They acted
																	quickly and reassured us during a critical moment.
																	Their expertise and compassion prove why they’re
																	trusted by everyone in our neighborhood.</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img loading="lazy" decoding="async" width="600"
																			height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUh1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUh1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">Michael
																			Thompson</strong>
																		<span class="elementskit-author-des">Local
																			Resident</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="swiper-slide">
													<div class="swiper-slide-inner">
														<div
															class="elementskit-single-testimonial-slider elementskit-testimonial-slider-block-style elementskit-testimonial-slider-block-style-two   elementor-repeater-item-9c52905">
															<div class="elementskit-commentor-header">

															</div>

															<div class="elementskit-commentor-content">
																<p>Their unwavering commitment to public safety is
																	inspiring. From response time to handling
																	emergencies, they exemplify true professionalism. We
																	are fortunate to have such dedicated firefighters
																	serving our community</p>
															</div>

															<div class="elementskit-commentor-bio">
																<div class="elementkit-commentor-details client_left">
																	<div
																		class="elementskit-commentor-image ekit-testimonial--avatar">
																		<img loading="lazy" decoding="async" width="600"
																			height="600"
																			src="../../wp-content/uploads/sites/30/2025/01/YK2UXCUa1.jpg"
																			class="attachment-full size-full" alt=""
																			srcset="https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1.jpg 600w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1-300x300.jpg 300w, https://askit.dextheme.net/fireguard/wp-content/uploads/sites/30/2025/01/YK2UXCUa1-150x150.jpg 150w"
																			sizes="(max-width: 600px) 100vw, 600px" />
																	</div>
																	<div class="elementskit-profile-info">
																		<strong class="elementskit-author-name">Emily
																			Brown</strong>
																		<span class="elementskit-author-des">Community
																			Leader</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>


											<div class="swiper-navigation-button swiper-button-prev">
												<i aria-hidden="true" class="icon icon-chevron-left-circle"></i>
											</div>
											<div class="swiper-navigation-button swiper-button-next">
												<i aria-hidden="true" class="icon icon-chevron-right-circle"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="elementor-element elementor-element-9898df7 e-flex e-con-boxed e-con e-parent" data-id="9898df7"
			data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="e-con-inner">
				<div class="elementor-element elementor-element-252960a elementor-widget elementor-widget-heading"
					data-id="252960a" data-element_type="widget" data-widget_type="heading.default">
					<div class="elementor-widget-container">
						<h2 class="elementor-heading-title elementor-size-default">Join Us in Saving Lives!</h2>
					</div>
				</div>
				<div class="elementor-element elementor-element-410c69f elementor-widget__width-initial elementor-widget elementor-widget-text-editor"
					data-id="410c69f" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p>Quisque ac turpis vitae neque posuere feugiat. Nunc laoreet felis at nulla egestas pulvinar.
							Aliquam cursus consectetur nunc. Pellentesque quis risus luctus lectus fringilla tempor eu
							ut dolor.</p>
					</div>
				</div>
				<div class="elementor-element elementor-element-c37d9f4 elementor-align-center elementor-widget elementor-widget-button"
					data-id="c37d9f4" data-element_type="widget" data-widget_type="button.default">
					<div class="elementor-widget-container">
						<div class="elementor-button-wrapper">
							<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
								<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Become a Firefighter</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
		<div data-elementor-type="wp-post" data-elementor-id="469" class="elementor elementor-469">
			<div class="elementor-element elementor-element-f3c5516 e-flex e-con-boxed e-con e-parent" data-id="f3c5516"
				data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="e-con-inner">
					<div class="elementor-element elementor-element-d7509dd e-con-full e-flex e-con e-child"
						data-id="d7509dd" data-element_type="container">
						<div class="elementor-element elementor-element-8e40799 e-con-full e-flex e-con e-child"
							data-id="8e40799" data-element_type="container">
							<div class="elementor-element elementor-element-c107654 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="c107654" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h3 class="elementor-heading-title elementor-size-default">Stay informed with our
										firefighter news.</h3>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-9be05dd e-con-full e-flex e-con e-child"
							data-id="9be05dd" data-element_type="container">
							<div class="elementor-element elementor-element-17a1a58 elementor-widget elementor-widget-metform"
								data-id="17a1a58" data-element_type="widget" data-widget_type="metform.default">
								<div class="elementor-widget-container">
									<div id="mf-response-props-id-480" data-previous-steps-style=""
										data-editswitchopen="" data-response_type="alert"
										data-erroricon="fas fa-exclamation-triangle" data-successicon="fas fa-check"
										data-messageposition="top" class="   mf-scroll-top-no">
										<div class="formpicker_warper formpicker_warper_editable"
											data-metform-formpicker-key="480">

											<div class="mf-widget-container">

												<div id="metform-wrap-17a1a58-480" class="mf-form-wrapper"
													data-form-id="480"
													data-action="https://askit.dextheme.net/fireguard/wp-json/metform/v1/entries/insert/480"
													data-wp-nonce="a4d3c52f57" data-form-nonce="ce90749bae"
													data-quiz-summery="false" data-save-progress="false"
													data-form-type="general-form" data-stop-vertical-effect=""></div>


												<!----------------------------- 
			* controls_data : find the the props passed indie of data attribute
			* props.SubmitResponseMarkup : contains the markup of error or success message
			* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
		--------------------------- -->

												<script type="text/mf" class="mf-template">
			function controls_data (value){
				let currentWrapper = "mf-response-props-id-480";
				let currentEl = document.getElementById(currentWrapper);
				
				return currentEl ? currentEl.dataset[value] : false
			}


			let is_edit_mode = '' ? true : false;
			let message_position = controls_data('messageposition') || 'top';

			
			let message_successIcon = controls_data('successicon') || '';
			let message_errorIcon = controls_data('erroricon') || '';
			let message_editSwitch = controls_data('editswitchopen') === 'yes' ? true : false;
			let message_proClass = controls_data('editswitchopen') === 'yes' ? 'mf_pro_activated' : '';
			
			let is_dummy_markup = is_edit_mode && message_editSwitch ? true : false;

			
			return html`
				<form
					className="metform-form-content"
					ref=${parent.formContainerRef}
					onSubmit=${ validation.handleSubmit( parent.handleFormSubmit ) }
				
					>
			
			
					${is_dummy_markup ? message_position === 'top' ?  props.ResponseDummyMarkup(message_successIcon, message_proClass) : '' : ''}
					${is_dummy_markup ? ' ' :  message_position === 'top' ? props.SubmitResponseMarkup`${parent}${state}${message_successIcon}${message_errorIcon}${message_proClass}` : ''}

					<!--------------------------------------------------------
					*** IMPORTANT / DANGEROUS ***
					${html``} must be used as in immediate child of "metform-form-main-wrapper"
					class otherwise multistep form will not run at all
					---------------------------------------------------------->

					<div className="metform-form-main-wrapper" key=${'hide-form-after-submit'} ref=${parent.formRef}>
					${html`
								<div data-elementor-type="wp-post" key="2" data-elementor-id="480" className="elementor elementor-480">
				<div className="elementor-element elementor-element-dae7c65 e-con-full e-flex e-con e-parent" data-id="dae7c65" data-element_type="container">
		<div className="elementor-element elementor-element-7fa0036 e-con-full e-flex e-con e-child" data-id="7fa0036" data-element_type="container">
				<div className="elementor-element elementor-element-c456cf1 elementor-widget elementor-widget-mf-email" data-id="c456cf1" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default">
				<div className="elementor-widget-container">
					
		<div className="mf-input-wrapper">
			
			<input 
				type="email" 
				 
				defaultValue="" 
				className="mf-input " 
				id="mf-input-email-c456cf1" 
				name="mf-email" 
				placeholder="${ parent.decodeEntities(`Enter Your Email Here`) } " 
				 
				onBlur=${parent.handleChange} onFocus=${parent.handleChange} aria-invalid=${validation.errors['mf-email'] ? 'true' : 'false' } 
				ref=${el=> parent.activateValidation({"message":"This field is required.","emailMessage":"Please enter a valid Email address","minLength":1,"maxLength":"","type":"none","required":true,"expression":"null"}, el)}
							/>

						<${validation.ErrorMessage} 
				errors=${validation.errors} 
				name="mf-email" 
				as=${html`<span className="mf-error-message"></span>`}
			/>
			
					</div>

				</div>
				</div>
				</div>
		<div className="elementor-element elementor-element-4be4086 e-con-full e-flex e-con e-child" data-id="4be4086" data-element_type="container">
				<div className="elementor-element elementor-element-819d0f4 mf-btn--justify mf-btn--tablet-justify mf-btn--mobile-justify elementor-widget elementor-widget-mf-button" data-id="819d0f4" data-element_type="widget" data-widget_type="mf-button.default">
				<div className="elementor-widget-container">
							<div className="mf-btn-wraper " data-mf-form-conditional-logic-requirement="">
							<button type="submit" className="metform-btn metform-submit-btn " id="">
					<span>${ parent.decodeEntities(`Subscribe`) } </span>
				</button>
			        </div>
        				</div>
				</div>
				</div>
				</div>
				</div>
							`}
					</div>

					${is_dummy_markup ? message_position === 'bottom' ? props.ResponseDummyMarkup(message_successIcon, message_proClass) : '' : ''}
					${is_dummy_markup ? ' ' : message_position === 'bottom' ? props.SubmitResponseMarkup`${parent}${state}${message_successIcon}${message_errorIcon}${message_proClass}` : ''}
				
				</form>
			`
		</script>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1c7e1d0 elementor-widget elementor-widget-heading"
								data-id="1c7e1d0" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Subscribe to receive
										inspiration, ideas, and news in your inbox.</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-abc2bdb e-con-full e-flex e-con e-child"
						data-id="abc2bdb" data-element_type="container">
						<div class="elementor-element elementor-element-b5288ba e-con-full e-flex e-con e-child"
							data-id="b5288ba" data-element_type="container">
							<div class="elementor-element elementor-element-3a01373 elementor-widget elementor-widget-image"
								data-id="3a01373" data-element_type="widget" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img width="294" height="75"
										src="../../wp-content/uploads/sites/30/2025/01/FireGuard-1.png"
										class="attachment-full size-full wp-image-436" alt="" />
								</div>
							</div>
							<div class="elementor-element elementor-element-29aeea3 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="29aeea3" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Lorem ipsum dolor sit
										amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
										mattis, pulvinar dapibus leo.</h6>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-d6593e2 e-con-full e-flex e-con e-child"
							data-id="d6593e2" data-element_type="container">
							<div class="elementor-element elementor-element-5d7fcb3 e-con-full e-flex e-con e-child"
								data-id="5d7fcb3" data-element_type="container">
								<div class="elementor-element elementor-element-8a4518e elementor-widget elementor-widget-heading"
									data-id="8a4518e" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">About Us</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-029098e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="029098e" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">About Us</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">History</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Firefighters</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Contact Us</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-fe1ab19 e-con-full e-flex e-con e-child"
								data-id="fe1ab19" data-element_type="container">
								<div class="elementor-element elementor-element-d913d87 elementor-widget elementor-widget-heading"
									data-id="d913d87" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Services</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-c226c11 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="c226c11" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Fire Control</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Emergency Response</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Rescue Operations</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-text">Safety Education</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-36ab492 e-con-full e-flex e-con e-child"
								data-id="36ab492" data-element_type="container">
								<div class="elementor-element elementor-element-4a3cd29 elementor-widget elementor-widget-heading"
									data-id="4a3cd29" data-element_type="widget" data-widget_type="heading.default">
									<div class="elementor-widget-container">
										<h4 class="elementor-heading-title elementor-size-default">Get in Touch</h4>
									</div>
								</div>
								<div class="elementor-element elementor-element-2afe56f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="2afe56f" data-element_type="widget" data-widget_type="icon-list.default">
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-map-marker1"></i> </span>
												<span class="elementor-icon-list-text">456 Creative District Ahmad Yani,
													Medan</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-envelope2"></i> </span>
												<span class="elementor-icon-list-text">hola@dominantsite.com</span>
											</li>
											<li class="elementor-icon-list-item">
												<span class="elementor-icon-list-icon">
													<i aria-hidden="true" class="icon icon-phone-call2"></i> </span>
												<span class="elementor-icon-list-text">+800-3374-4676</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-element elementor-element-558ee9b e-con-full e-flex e-con e-child"
						data-id="558ee9b" data-element_type="container">
						<div class="elementor-element elementor-element-98e7caf e-con-full e-flex e-con e-child"
							data-id="98e7caf" data-element_type="container">
							<div class="elementor-element elementor-element-3c24aa9 elementor-widget elementor-widget-heading"
								data-id="3c24aa9" data-element_type="widget" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<h6 class="elementor-heading-title elementor-size-default">Nergy, 2025 © All Rights
										Reserved Dex-Theme</h6>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-58f034c e-con-full e-flex e-con e-child"
							data-id="58f034c" data-element_type="container">
							<div class="elementor-element elementor-element-51a96ed elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="51a96ed" data-element_type="widget" data-widget_type="icon-list.default">
								<div class="elementor-widget-container">
									<ul class="elementor-icon-list-items elementor-inline-items">
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Terms & Conditions</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">Privacy Policy</span>
										</li>
										<li class="elementor-icon-list-item elementor-inline-item">
											<span class="elementor-icon-list-text">FAQ</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

