---
import careersData from "./career.json";
---

<link
	rel="stylesheet"
	id="elementor-post-717-css"
	href="../../wp-content/uploads/sites/30/elementor/css/post-717e903.css?ver=1745611951"
	media="all"
/>

<div
	class="wp-singular envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-717 wp-embed-responsive wp-theme-hello-elementor hello-elementor-default elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-717"
>
	<div
		data-elementor-type="wp-post"
		data-elementor-id="717"
		class="elementor elementor-717"
	>
		<div
			class="elementor-element elementor-element-7ba00b7 e-flex e-con-boxed e-con e-parent"
			data-id="7ba00b7"
			data-element_type="container"
			data-settings='{"background_background":"classic"}'
		>
			<div class="e-con-inner">
				<div
					class="elementor-element elementor-element-b25371b elementor-widget elementor-widget-heading"
					data-id="b25371b"
					data-element_type="widget"
					data-widget_type="heading.default"
				>
					<div class="elementor-widget-container">
						<h2
							class="elementor-heading-title elementor-size-default"
						>
							Career
						</h2>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-1d4669a elementor-widget elementor-widget-text-editor"
					data-id="1d4669a"
					data-element_type="widget"
					data-widget_type="text-editor.default"
				>
					<div class="elementor-widget-container">
						<p><a href="#">Home</a> &#8211; Career</p>
					</div>
				</div>
			</div>
		</div>
		<div
			class="elementor-element elementor-element-d274bc8 e-flex e-con-boxed e-con e-parent"
			data-id="d274bc8"
			data-element_type="container"
			data-settings='{"background_background":"classic"}'
		>
			<div class="e-con-inner">
				<div
					class="elementor-element elementor-element-b0582af e-con-full e-flex e-con e-child"
					data-id="b0582af"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-af27ea2 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
						data-id="af27ea2"
						data-element_type="widget"
						data-settings='{"_animation":"slideInLeft"}'
						data-widget_type="heading.default"
					>
						<div class="elementor-widget-container">
							<h5
								class="elementor-heading-title elementor-size-default"
							>
								Why Us
							</h5>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-019295f elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-heading"
						data-id="019295f"
						data-element_type="widget"
						data-settings='{"_animation":"slideInLeft"}'
						data-widget_type="heading.default"
					>
						<div class="elementor-widget-container">
							<h2
								class="elementor-heading-title elementor-size-default"
							>
								Committed to Serve and Protect.
							</h2>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-8d22cfb elementor-widget elementor-widget-text-editor"
						data-id="8d22cfb"
						data-element_type="widget"
						data-widget_type="text-editor.default"
					>
						<div class="elementor-widget-container">
							<p>
								 we specialize in reliable and efficient fire system installations that protect lives and property. Join our team to work on impactful projects, grow your skills, and be part of a company committed to safety, quality, and innovation.
							</p>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-850629b e-con-full e-flex e-con e-child"
						data-id="850629b"
						data-element_type="container"
					>
						<div
							class="elementor-element elementor-element-0dc65ad elementor-widget elementor-widget-button"
							data-id="0dc65ad"
							data-element_type="widget"
							data-widget_type="button.default"
						>
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									
									<a 
									class="elementor-button elementor-button-link elementor-size-sm"

									href="mailto:techflame@gmail.com">
										<span
											class="elementor-button-content-wrapper"
										>
											<span class="elementor-button-icon">
												<svg
													aria-hidden="true"
													class="e-font-icon-svg e-far-file-pdf"
													viewBox="0 0 384 512"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														d="M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm250.2-143.7c-12.2-12-47-8.7-64.4-6.5-17.2-10.5-28.7-25-36.8-46.3 3.9-16.1 10.1-40.6 5.4-56-4.2-26.2-37.8-23.6-42.6-5.9-4.4 16.1-.4 38.5 7 67.1-10 23.9-24.9 56-35.4 74.4-20 10.3-47 26.2-51 46.2-3.3 15.8 26 55.2 76.1-31.2 22.4-7.4 46.8-16.5 68.4-20.1 18.9 10.2 41 17 55.8 17 25.5 0 28-28.2 17.5-38.7zm-198.1 77.8c5.1-13.7 24.5-29.5 30.4-35-19 30.3-30.4 35.7-30.4 35zm81.6-190.6c7.4 0 6.7 32.1 1.8 40.8-4.4-13.9-4.3-40.8-1.8-40.8zm-24.4 136.6c9.7-16.9 18-37 24.7-54.7 8.3 15.1 18.9 27.2 30.1 35.5-20.8 4.3-38.9 13.1-54.8 19.2zm131.6-5s-5 6-37.3-7.8c35.1-2.6 40.9 5.4 37.3 7.8z"
													>
													</path>
												</svg>
											</span>
											
											<span class="elementor-button-text"
												>Send Your CV </span
											>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-e82838c elementor-widget elementor-widget-heading"
							data-id="e82838c"
							data-element_type="widget"
							data-widget_type="heading.default"
						>
							<div class="elementor-widget-container">
								<h6
									class="elementor-heading-title elementor-size-default"
								>
									
								</h6>
							</div>
						</div>
					</div>
				</div>
				<div
					class="elementor-element elementor-element-9fb7b78 e-con-full e-flex e-con e-child"
					data-id="9fb7b78"
					data-element_type="container"
				>
					<div
						class="elementor-element elementor-element-0ecd203 elementor-widget elementor-widget-heading"
						data-id="0ecd203"
						data-element_type="widget"
						data-widget_type="heading.default"
					>
						<div class="elementor-widget-container">
							<h3
								class="elementor-heading-title elementor-size-default"
							>
								Open recruitment
							</h3>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-acc7790 elementor-widget elementor-widget-text-editor"
						data-id="acc7790"
						data-element_type="widget"
						data-widget_type="text-editor.default"
					>
						<div class="elementor-widget-container">
							<p>
							
							</p>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-867f020 elementor-widget elementor-widget-elementskit-accordion"
						data-id="867f020"
						data-element_type="widget"
						data-widget_type="elementskit-accordion.default"
					>
						<div class="elementor-widget-container">
							<div class="ekit-wid-con">
								<div
									class="elementskit-accordion accoedion-primary"
									id="accordion-6826f901814f3"
								>
									<div id="accordion-careers">
										{
											careersData.careers.map(
												(career, index) => {
													const headingId = `primaryHeading-${index}`;
													const collapseId = `Collapse-${index}`;
													return (
														<div class="elementskit-card active">
															<div
																class="elementskit-card-header"
																id={headingId}
															>
																<a
																	href={`#${collapseId}`}
																	class="ekit-accordion--toggler elementskit-btn-link collapsed"
																	data-ekit-toggle="collapse"
																	data-target={`#${collapseId}`}
																	aria-expanded="false"
																	aria-controls={
																		collapseId
																	}
																>
																	<span class="ekit-accordion-title">
																		{
																			career.position
																		}
																	</span>
																	<div class="ekit_accordion_icon_group">
																		<div class="ekit_accordion_normal_icon">
																			<i class="icon icon-plus" />
																		</div>
																		<div class="ekit_accordion_active_icon">
																			<i class="icon icon-minus" />
																		</div>
																	</div>
																</a>
															</div>

															<div
																id={collapseId}
																class="collapse"
																aria-labelledby={
																	headingId
																}
																data-parent="#accordion-careers"
															>
																<div class="elementskit-card-body ekit-accordion--content">
																	<p>
																		<strong>
																			Job
																			Description:
																		</strong>{" "}
																		{
																			career.job_description
																		}
																	</p>

																	{career.responsibilities && (
																		<>
																			<p>
																				<strong>
																					Responsibilities:
																				</strong>
																			</p>
																			<ul>
																				{career.responsibilities.map(
																					(
																						task,
																						i,
																					) => (
																						<li
																							
																						>
																							{
																								task
																							}
																						</li>
																					),
																				)}
																			</ul>
																		</>
																	)}

																	{career.qualifications && (
																		<>
																			<p>
																				<strong>
																					Qualifications:
																				</strong>
																			</p>
																			<ul>
																				{career.qualifications.map(
																					(
																						qual,
																						i,
																					) => (
																						<li
																							
																						>
																							{
																								qual
																							}
																						</li>
																					),
																				)}
																			</ul>
																		</>
																	)}

																	{career.benefits && (
																		<>
																			<p>
																				<strong>
																					Benefits:
																				</strong>
																			</p>
																			<ul>
																				{career.benefits.map(
																					(
																						benefit,
																						i,
																					) => (
																						<li
																							
																						>
																							{
																								benefit
																							}
																						</li>
																					),
																				)}
																			</ul>
																		</>
																	)}
																</div>
															</div>
														</div>
													);
												},
											)
										}
									</div>

									<div class="elementskit-card">
										<div
											class="elementskit-card-header"
											id="primaryHeading-3-867f020"
										>
											<a
												href="#collapse-74f77ef6826f901814f3"
												class="ekit-accordion--toggler elementskit-btn-link collapsed"
												data-ekit-toggle="collapse"
												data-target="#Collapse-74f77ef6826f901814f3"
												aria-expanded="false"
												aria-controls="Collapse-74f77ef6826f901814f3"
											>
												<span
													class="ekit-accordion-title"
													>Dispatcher</span
												>

												<div
													class="ekit_accordion_icon_group"
												>
													<div
														class="ekit_accordion_normal_icon"
													>
														<!-- Normal Icon -->
														<i
															class="icon icon-plus"
														></i>
													</div>

													<div
														class="ekit_accordion_active_icon"
													>
														<!-- Active Icon -->
														<i
															class="icon icon-minus"
														></i>
													</div>
												</div>
											</a>
										</div>

										<div
											id="Collapse-74f77ef6826f901814f3"
											class="collapse"
											aria-labelledby="primaryHeading-3-867f020"
											data-parent="#accordion-6826f901814f3"
										>
											<div
												class="elementskit-card-body ekit-accordion--content"
											>
												<p>
													Far far away, behind the
													word mountains, far from the
													countries Vokalia and
													Consonantia, there live the
													blind texts. Separated they
													live in Bookmarksgrove right
													at the coast
												</p>
											</div>
										</div>
									</div><!-- .elementskit-card END -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	<div
		class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support"
	>
		<div
			data-elementor-type="wp-post"
			data-elementor-id="469"
			class="elementor elementor-469"
		>
			<div
				class="elementor-element elementor-element-f3c5516 e-flex e-con-boxed e-con e-parent"
				data-id="f3c5516"
				data-element_type="container"
				data-settings='{"background_background":"classic"}'
			>
				<div class="e-con-inner">
					<div
						class="elementor-element elementor-element-d7509dd e-con-full e-flex e-con e-child"
						data-id="d7509dd"
						data-element_type="container"
					>
						<div
							class="elementor-element elementor-element-8e40799 e-con-full e-flex e-con e-child"
							data-id="8e40799"
							data-element_type="container"
						>
							<div
								class="elementor-element elementor-element-c107654 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="c107654"
								data-element_type="widget"
								data-widget_type="heading.default"
							>
								<div class="elementor-widget-container">
									<h3
										class="elementor-heading-title elementor-size-default"
									>
										Stay informed with our firefighter news.
									</h3>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-9be05dd e-con-full e-flex e-con e-child"
							data-id="9be05dd"
							data-element_type="container"
						>
							<div
								class="elementor-element elementor-element-17a1a58 elementor-widget elementor-widget-metform"
								data-id="17a1a58"
								data-element_type="widget"
								data-widget_type="metform.default"
							>
								<div class="elementor-widget-container">
									<div
										id="mf-response-props-id-480"
										data-previous-steps-style=""
										data-editswitchopen=""
										data-response_type="alert"
										data-erroricon="fas fa-exclamation-triangle"
										data-successicon="fas fa-check"
										data-messageposition="top"
										class="mf-scroll-top-no"
									>
										<div
											class="formpicker_warper formpicker_warper_editable"
											data-metform-formpicker-key="480"
										>
											<div class="mf-widget-container">
												<div
													id="metform-wrap-17a1a58-480"
													class="mf-form-wrapper"
													data-form-id="480"
													data-action="https://askit.dextheme.net/fireguard/wp-json/metform/v1/entries/insert/480"
													data-wp-nonce="a4d3c52f57"
													data-form-nonce="ce90749bae"
													data-quiz-summery="false"
													data-save-progress="false"
													data-form-type="general-form"
													data-stop-vertical-effect=""
												>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-1c7e1d0 elementor-widget elementor-widget-heading"
								data-id="1c7e1d0"
								data-element_type="widget"
								data-widget_type="heading.default"
							>
								<div class="elementor-widget-container">
									<h6
										class="elementor-heading-title elementor-size-default"
									>
										Subscribe to receive inspiration, ideas,
										and news in your inbox.
									</h6>
								</div>
							</div>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-abc2bdb e-con-full e-flex e-con e-child"
						data-id="abc2bdb"
						data-element_type="container"
					>
						<div
							class="elementor-element elementor-element-b5288ba e-con-full e-flex e-con e-child"
							data-id="b5288ba"
							data-element_type="container"
						>
							<div
								class="elementor-element elementor-element-3a01373 elementor-widget elementor-widget-image"
								data-id="3a01373"
								data-element_type="widget"
								data-widget_type="image.default"
							>
								<div class="elementor-widget-container">
									<img
										width="294"
										height="75"
										src="../../wp-content/uploads/sites/30/2025/01/FireGuard-1.png"
										class="attachment-full size-full wp-image-436"
										alt=""
									/>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-29aeea3 elementor-widget__width-initial elementor-widget elementor-widget-heading"
								data-id="29aeea3"
								data-element_type="widget"
								data-widget_type="heading.default"
							>
								<div class="elementor-widget-container">
									<h6
										class="elementor-heading-title elementor-size-default"
									>
										Lorem ipsum dolor sit amet, consectetur
										adipiscing elit. Ut elit tellus, luctus
										nec ullamcorper mattis, pulvinar dapibus
										leo.
									</h6>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-d6593e2 e-con-full e-flex e-con e-child"
							data-id="d6593e2"
							data-element_type="container"
						>
							<div
								class="elementor-element elementor-element-5d7fcb3 e-con-full e-flex e-con e-child"
								data-id="5d7fcb3"
								data-element_type="container"
							>
								<div
									class="elementor-element elementor-element-8a4518e elementor-widget elementor-widget-heading"
									data-id="8a4518e"
									data-element_type="widget"
									data-widget_type="heading.default"
								>
									<div class="elementor-widget-container">
										<h4
											class="elementor-heading-title elementor-size-default"
										>
											About Us
										</h4>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-029098e elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="029098e"
									data-element_type="widget"
									data-widget_type="icon-list.default"
								>
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>About Us</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>History</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>Firefighters</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>Contact Us</span
												>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-fe1ab19 e-con-full e-flex e-con e-child"
								data-id="fe1ab19"
								data-element_type="container"
							>
								<div
									class="elementor-element elementor-element-d913d87 elementor-widget elementor-widget-heading"
									data-id="d913d87"
									data-element_type="widget"
									data-widget_type="heading.default"
								>
									<div class="elementor-widget-container">
										<h4
											class="elementor-heading-title elementor-size-default"
										>
											Services
										</h4>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-c226c11 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="c226c11"
									data-element_type="widget"
									data-widget_type="icon-list.default"
								>
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>Fire Control</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>Emergency Response</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>Rescue Operations</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-text"
													>Safety Education</span
												>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div
								class="elementor-element elementor-element-36ab492 e-con-full e-flex e-con e-child"
								data-id="36ab492"
								data-element_type="container"
							>
								<div
									class="elementor-element elementor-element-4a3cd29 elementor-widget elementor-widget-heading"
									data-id="4a3cd29"
									data-element_type="widget"
									data-widget_type="heading.default"
								>
									<div class="elementor-widget-container">
										<h4
											class="elementor-heading-title elementor-size-default"
										>
											Get in Touch
										</h4>
									</div>
								</div>
								<div
									class="elementor-element elementor-element-2afe56f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
									data-id="2afe56f"
									data-element_type="widget"
									data-widget_type="icon-list.default"
								>
									<div class="elementor-widget-container">
										<ul class="elementor-icon-list-items">
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-icon"
												>
													<i
														aria-hidden="true"
														class="icon icon-map-marker1"
													></i>
												</span>
												<span
													class="elementor-icon-list-text"
													>456 Creative District Ahmad
													Yani, Medan</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-icon"
												>
													<i
														aria-hidden="true"
														class="icon icon-envelope2"
													></i>
												</span>
												<span
													class="elementor-icon-list-text"
													>hola@dominantsite.com</span
												>
											</li>
											<li
												class="elementor-icon-list-item"
											>
												<span
													class="elementor-icon-list-icon"
												>
													<i
														aria-hidden="true"
														class="icon icon-phone-call2"
													></i>
												</span>
												<span
													class="elementor-icon-list-text"
													>+800-3374-4676</span
												>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="elementor-element elementor-element-558ee9b e-con-full e-flex e-con e-child"
						data-id="558ee9b"
						data-element_type="container"
					>
						<div
							class="elementor-element elementor-element-98e7caf e-con-full e-flex e-con e-child"
							data-id="98e7caf"
							data-element_type="container"
						>
							<div
								class="elementor-element elementor-element-3c24aa9 elementor-widget elementor-widget-heading"
								data-id="3c24aa9"
								data-element_type="widget"
								data-widget_type="heading.default"
							>
								<div class="elementor-widget-container">
									<h6
										class="elementor-heading-title elementor-size-default"
									>
										Nergy, 2025 © All Rights Reserved
										Dex-Theme
									</h6>
								</div>
							</div>
						</div>
						<div
							class="elementor-element elementor-element-58f034c e-con-full e-flex e-con e-child"
							data-id="58f034c"
							data-element_type="container"
						>
							<div
								class="elementor-element elementor-element-51a96ed elementor-icon-list--layout-inline elementor-align-right elementor-tablet-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
								data-id="51a96ed"
								data-element_type="widget"
								data-widget_type="icon-list.default"
							>
								<div class="elementor-widget-container">
									<ul
										class="elementor-icon-list-items elementor-inline-items"
									>
										<li
											class="elementor-icon-list-item elementor-inline-item"
										>
											<span
												class="elementor-icon-list-text"
												>Terms & Conditions</span
											>
										</li>
										<li
											class="elementor-icon-list-item elementor-inline-item"
										>
											<span
												class="elementor-icon-list-text"
												>Privacy Policy</span
											>
										</li>
										<li
											class="elementor-icon-list-item elementor-inline-item"
										>
											<span
												class="elementor-icon-list-text"
												>FAQ</span
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
